/* 共通 */
.container {
    padding: 1.5% 8%;
    text-align: center;
}

label, h2, p  {
 margin: 0;
 padding: 0;
}

/* contact.html */
.error_msg {
    font-size: 14px;
    color: #ff0000;
    height: 14px;
}

.btn {
    height: 60px;
}

/* thanks.html */
.thanks_msg {
    text-align: center;
    background-color: #c8fbff;
    padding:20px 0 50px;
}

img {
    border-radius: 50%;
}

h2 {
    text-align: center;
}


.confirm-wrapper {
    max-width: 700px;
    margin: 60px auto;
    padding: 40px;
    background: #fff;
    border-radius: 4px;
}

.confirm-title {
    font-size: 24px;
    margin-bottom: 32px;
    font-weight: bold;
}

.confirm-row {
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid #eee;
}

.confirm-label {
    width: 180px;
    font-weight: 600;
    color: #555;
}

.confirm-value {
    flex: 1;
}

.confirm-buttons {
    display: flex;
    gap: 16px;
    margin-top: 40px;
    justify-content: center;
}

.btn-primaly {
    flex: 1;
    padding: 14px;
    background-color: #2563eb;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.btn-sec {
    flex: 1;
    padding: 14px;
    background-color: #35373b;
    color: #fff;
    border-radius: 4px;
}